@import url(https://fonts.css.network/css?family=News+Cycle:400,700);
@font-face {
  font-family: StarWars;
  src: url("/font/Starjedi.eot");
  src: url("/font/Starjedi.eot?#iefix") format("embedded-opentype"), url("/font/Starjedi.woff") format("woff"), url("/font/Starjedi.ttf") format("truetype"), url("/font/Starjedi.svg") format("svg"); }

html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ffd54e;
  margin: 0;
  overflow: hidden; }

/* Remove dotted border on Firefox (http://stackoverflow.com/a/199319) */
button::-moz-focus-inner {
  border: 0; }

.running {
  overflow: hidden; }
  .running .bg {
    animation: scrolldown 7s 86s forwards; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.blink-button {
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: #ffd54e;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  outline: none; }
  .blink-button:focus, .blink-button:hover {
    text-shadow: -1px 1px 8px #45f500, 1px -1px 8px #45f500; }

.bg {
  width: 100%;
  height: 4100px;
  padding-top: 2200px;
  background-color: black;
  background: url("/img/bg-stars.png") repeat;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box; }
  .bg .war-title {
    position: relative;
    margin-top: 100px;
    text-align: center;
    font-family: StarWars;
    width: 50%; }
    .bg .war-title > h1 {
      font-size: 5em; }
    @media only screen and (max-width: 960px) {
      .bg .war-title {
        width: 100%;
        margin-top: 0; }
        .bg .war-title > h1 {
          font-size: 2em; } }
  .bg .deathstar {
    width: 655px;
    position: absolute;
    right: 100px; }
    .bg .deathstar > img {
      width: 100%; }
    @media only screen and (max-width: 960px) {
      .bg .deathstar {
        width: 70%;
        margin: 0 15%;
        right: 0;
        position: relative; } }

.page-loader .inner {
  width: 100%;
  text-align: center; }

.page-later {
  display: none; }

.starwars section {
  position: absolute;
  top: 45%; }

.starwars .verticalWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.starwars .introBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: introBg 9s;
  opacity: 0; }

.starwars .intro {
  margin: 0 auto;
  padding: 0 100px;
  position: static;
  top: 0;
  left: 0;
  font-size: 500%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  animation: intro 6s ease-out 1s; }
  @media only screen and (max-width: 960px) {
    .starwars .intro {
      font-size: 250%;
      padding: 0 50px; } }

.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  left: 50%;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg); }
  @media only screen and (max-width: 960px) {
    .starwars .titles {
      width: 100%;
      font-size: 175%;
      margin: 0 0 0 -50%; } }
  .starwars .titles > div {
    position: absolute;
    top: 100%;
    animation: titles 73s linear 13s; }
    .starwars .titles > div > p {
      margin: 1.35em 0 1.85em 0;
      line-height: 1.35em;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden; }
    .starwars .titles > div .tcenter {
      margin: 1.35em 0 -1em 0;
      text-align: center; }

.starwars .logo {
  font-family: StarWars;
  text-align: center;
  position: static;
  margin: 0 auto;
  opacity: 0;
  animation: logo 11s cubic-bezier(0.11, 0.51, 0.48, 0.88) 9s; }
  .starwars .logo > img {
    width: 300px; }
  .starwars .logo > svg {
    width: 900px;
    display: none;
    font-size: 210px; }

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  bottom: 1em;
  color: #9e9e42; }
  .footer a {
    color: #ffd54e;
    text-decoration: none; }
    .footer a:hover {
      color: #fff;
      text-decoration: none; }
  @media only screen and (max-width: 960px) {
    .footer {
      width: 70%;
      margin: 0 15%;
      line-height: 1.2em; } }

@keyframes intro {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes introBg {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0; } }

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    top: 20%;
    opacity: 0; } }

@keyframes scrolldown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2200px); } }

@keyframes pulseDownload {
  0% {
    text-shadow: none; }
  40% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500; }
  60% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500; }
  100% {
    text-shadow: none; } }

.sweet-alert fieldset input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.25em;
  border: 0.25em solid rgba(255, 213, 78, 0.2);
  border-radius: 0.2em;
  background: black;
  color: #ffd54e;
  transition: border-color 0.7s ease-out; }
  .sweet-alert fieldset input:active, .sweet-alert fieldset input:focus {
    outline: none;
    box-shadow: none;
    border: 0.25em solid #ffd54e; }

.sweet-alert .icon,
.sweet-alert .sa-input-error::before,
.sweet-alert .sa-input-error::after {
  background-color: #C31D00 !important; }

.sweet-alert.star-wars-alert {
  background-color: black !important;
  border: 2px solid #ffd54e; }
  .sweet-alert.star-wars-alert h2,
  .sweet-alert.star-wars-alert p {
    color: #ffd54e !important; }
  .sweet-alert.star-wars-alert button {
    border: 2px solid #ffd54e !important;
    color: #ffd54e !important;
    background-color: black !important; }

.sweet-alert .sa-error-container {
  background-color: #3c3808 !important; }
