@use 'sass:math';
@import 'bb8.scss';

// Used only in the Form input. The text is a outlined SVG Text
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }

  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

$timeFactor: 1;
$introColor: rgb(75, 213, 238);
$titlesColor: #ffd54e;
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

@font-face {
  font-family: StarWars;
  src: url('../font/starjedi.eot');
  src: url('../font/starjedi.eot?#iefix') format('embedded-opentype'),
    url('../font/starjedi.woff') format('woff'),
    url('../font/starjedi.ttf') format('truetype'),
    url('../font/starjedi.svg') format('svg');
}

html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: $titlesColor;
  margin: 0;
  overflow: hidden;
}


/* Remove dotted border on Firefox (http://stackoverflow.com/a/199319) */

button::-moz-focus-inner {
  border: 0;
}


.running {
  overflow: hidden;

  .bg {
    animation: scrolldown 7s * $timeFactor 91s * $timeFactor forwards;
    // animation: scrolldown 0s * $timeFactor 0s * $timeFactor forwards;
  }
}

.noselect {
  user-select: none;
}

.blink-button {
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: $titlesColor;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  text-decoration: none;

  &:focus,
  &:hover {
    text-shadow: -1px 1px 8px #45f500, 1px -1px 8px #45f500;
  }
}

.bg {
  width: 100%;
  height: 4100px;
  padding-top: 2200px;
  background-color: black;
  background: url('../img/bg-stars.png') repeat;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;

  .war-title {
    position: relative;
    margin-top: 100px;
    text-align: center;
    font-family: StarWars;
    width: 50%;

    >h1 {
      font-size: 5em;
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-top: 0;

      &>h1 {
        font-size: 2em;
      }
    }
  }

  .deathstar {
    width: 655px;
    position: absolute;
    right: 100px;

    >img {
      width: 100%;
    }

    @media only screen and (max-width: 768px) {
      width: 70%;
      margin: 0 15%;
      right: 0;
      position: relative;
    }
  }

  .prompt {
    display: none;
    width: 100%;
    position: fixed;
    top: 50%;
    font-size: 80px;
    line-height: 80px;
    margin: -40px 0;
    text-align: center;
    color: $introColor;
    animation: 3s ease-in-out infinite blink;

    // @media only screen and (max-width: 768px) {
    //   width: 80%;
    //   margin: 0 10%;
    //   right: 0;
    //   position: relative;
    // }
  }
}

.page-loader {
  .inner {
    width: 100%;
    text-align: center;
  }
}

.page-later {
  display: none;
}

.starwars {
  display: none;
  section {
    position: absolute;
    top: 45%;
  }

  .verticalWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .introBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: introBg 9s * $timeFactor;
    opacity: 0;
  }

  .intro {
    margin: 0 auto;
    padding: 0 100px;
    position: static;
    top: 0;
    left: 0;
    font-size: 500%;
    font-weight: 400;
    color: $introColor;
    opacity: 0;
    animation: intro 6s * $timeFactor ease-out 1s * $timeFactor;

    @media only screen and (max-width: 768px) {
      font-size: 250%;
      padding: 0 50px;
    }
  }

  .titles {
    $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 0 0 math.div(- $titles-width, 2);
    top: auto;
    bottom: 0;
    left: 50%;
    height: 50em;
    font-size: 350%;

    @media only screen and (max-width: 768px) {
      $titles-width: 100%;
      width: $titles-width;
      font-size: 175%;
      margin: 0 0 0 -50%;
    }

    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);

    >div {
      position: absolute;
      top: 100%;
      animation: titles 78s * $timeFactor linear 13s * $timeFactor;

      // animation: titles 0s * $timeFactor linear 0s * $timeFactor;
      >p {
        margin: 1.35em 0 1.85em 0;
        line-height: 1.35em;
        backface-visibility: hidden;
      }

      .tcenter {
        margin: 1.35em 0 -1em 0;
        text-align: center;
      }
    }
  }

  .logo {
    font-family: StarWars;
    text-align: center;
    position: static;
    margin: 0 auto;
    opacity: 0;
    animation: logo 11s * $timeFactor cubic-bezier(0.11, 0.51, 0.48, 0.88) 9s * $timeFactor;

    // animation-iteration-count: infinite; // for testing only
    // animation-delay: 0s;
    >img {
      width: 300px;
    }

    >svg {
      width: 900px;
      display: none;
      font-size: 210px;
    }
  }
}

// .me {
//   position: fixed;
//   text-align: right;
//   font-size: 1em;
//   bottom: 0.5em;
//   width: 100%;
//   a {
//     color: $titlesColor;
//     text-decoration: none;
//     &:hover {
//       text-decoration: underline;
//     }
//   }
//   @media only screen and (max-width: 768px) {
//     text-align: center;
//     bottom: 0;
//     margin-bottom: 6em;
//   }
// }

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  bottom: 1em;
  color: #9e9e42;

  a {
    color: $titlesColor;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 70%;
    margin: 0 15%;
    line-height: 1.2em;
  }
}

// css animations
@keyframes intro {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes introBg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    transform: scale(.01);
    opacity: 0;
  }
}

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    top: 20%;
    opacity: 0;
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-2200px);
  }
}

@keyframes pulseDownload {
  0% {
    text-shadow: none;
  }

  40% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500;
  }

  60% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}